/* color */
:root{
  --primary: #e1f5fe;
  --secondary: #b3e5fc;
  --title: #81d4fa;
  
}


body {
  min-height: 100vh;
  margin: 0;
  overflow: scroll;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.page-footer {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
  
}

  /* layout styles */
  nav{
    background: var(--primary) !important;
    border-bottom: 10px solid var(--secondary);
  }
  nav .container a{
    text-transform: uppercase;
    color: var(--title);
  }
  nav a span{
    font-weight: bold;
    color: var(--title);
  }
  nav .sidenav-trigger{
    margin: 0;
    cursor: pointer;
  }

  .page-footer {
    background: var(--title);
  }

   /* Card styles */
   .icon-block {
    padding: 0 15px;
  }
  
  .icon-block .material-icons {
    font-size: inherit;
  }
  
  .categories_card {
    position: relative;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);
    display: flex;
    align-items: center;
  }
  
  .categories_card>img {
    grid-area: image;
    max-width: 40px;
  }
  
  .categories-title {
    margin-left: 12px;
    font-weight: 600;
    text-wrap: wrap;
    font-size: medium;
  }
  
  .goto_categorie {
    position: absolute;
    right: 0;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  

  